body.body--light {
  background-color: $light-page;
  color: $light-text;
}

body.body--dark {
  background-color: $dark-page;
  color: $dark-text;
}

.profile-image {
  border-radius: 50%;
}

// HeaderLayout.vue
.toolbar {
  color: $grey-5;
}

.header-menu-dropdown {
  border-radius: 12px;
}

.notification-close-button {
  display: none;
}

.notification-row {
  &:hover {
    .notification-close-button {
      display: flex;
    }
  }
}

.notification-new {
  width: 10px;
  height: 10px;
  background-color: $accent;
  border-radius: 50%;
}

body.body--light {
  .toolbar,
  .header-menu-dropdown {
    background-color: $white;
  }
  .button-header {
    color: $grey-9;
  }
}

body.body--dark {
  .toolbar,
  .header-menu-dropdown {
    background-color: $dark;
  }
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
}

// ShortcutsMenu.vue

.shortcut-button {
  border-radius: 50%;
}
body.body--light {
  .shortcut-button {
    background-color: $grey-2;
    color: $dark;
  }
}
body.body--dark {
  .shortcut-button {
    background-color: $grey-8;
    color: $white;
  }
}

// NavigationMenuDrawer.vue
body.body--light {
  .navigation-drawer {
    background-color: $white;
  }
  .menu-icon {
    background-color: $light-page;
  }
}
body.body--dark {
  .navigation-drawer {
    background-color: $dark;
  }
  .menu-icon {
    background-color: $dark-page;
  }
}

.menu-item {
  border-radius: 12px;
}
