// src/css/quasar.variables.scss

$primary: #2096f3;
$secondary: #28dac6;
$accent: #6f64e8;

$light-page: #f3f3f7;
$light-text: #576a7f;

$dark: #2b2c40;
$dark-page: #232333;
$dark-text: #9ca0bb;

$positive: #4caf50;
$negative: #f44336;
$info: #31ccec;
$warning: #f2c037;
